<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ActiTime Automation Tests">
	<listeners>
		<listener class-name="extentreportlistner.ExtentListner" />
	</listeners>

	<test name="Tasks Tests">
		<classes>
			<class name="testcases.RegressionSuite">
				<methods>
					<include name="TC004.*" />
					<include name="TC002.*" />
					<include name="TC001.*" />
					<include name="TC003.*" />
				</methods>
			</class>

		</classes>
	</test>
</suite>
